{
    "parser": "babel-eslint",
    "extends": ["standard", "standard-react", "plugin:react/recommended"],
    "rules": {
        "react/prop-types": 0,
        "react/jsx-fragments": 0
    },
    "env": {
        "browser": true,
        "node": true,
        "jest": true,
        "es6": true
    },
    "settings": {
        "react": {
            "version": "17.0.2"
        }
    }
}
